--extra-index-url https://builds.golem.network
opencv-python
OpenEXR
scikit-image
scipy
Pillow==5.1.0
sklearn
numpy
PyWavelets
pydot
git+https://github.com/magdasta/golem-verificator-experiments.git@master#egg=golem-verificator-experiments